<!--推荐班级 -->
<div class="col-md-3 classify-right">
    <div class="rec-classroom nobottom wall">
        <h2>推荐班级</h2>
        <ul class="course clearfix row">
            <li class="course-item col-md-12 col-xs-6">
                <div class="course-img">
                    <a href="#" title="课程还未更新，敬请期待">
                        <img src="defaul/img/classroom1.jpg" alt="零基础摄影入门班" class=""  />
                    </a>
                    <div class="classroom-tag md hz-triangle"><span>班级</span></div>
                </div>
                <div class="course-info">
                    <div class="title text-o-show">
                        <a href="#" title="课程还未更新，敬请期待">零基础摄影入门班</a>
                    </div>
                    <div class="teacher text-o-show">
                        <a class=" js-user-card" href="# " title="课程还未更新，敬请期待" data-card-url="/user/1314678/card/show" data-user-id="1314678">
                            <img class="avatar-ss " src="defaul/assets/img/t2.png" 　alt="Mr.Wang">Mr.Wang
                        </a>
                        <span class="daren-icon-t" title="达人"></span>

                        <div class="price pull-right"><span>￥99.00</span></div>
                    </div>
                </div>
            </li>
            <li class="course-item col-md-12 col-xs-6">
                <div class="course-img">
                    <a href="#" title="课程还未更新，敬请期待">
                        <img src="defaul/img/classroom2.jpg" alt="牛牛人像摄影班" class="" />
                    </a>
                    <div class="classroom-tag md hz-triangle"><span>班级</span></div>
                </div>
                <div class="course-info">
                    <div class="title text-o-show">
                        <a href="#" title="课程还未更新，敬请期待">牛牛人像摄影班</a>
                    </div>
                    <div class="teacher text-o-show">
                        <a class=" js-user-card" href="#" title="课程还未更新，敬请期待" data-card-url="/user/1931873/card/show" data-user-id="1931873">
                            <img class="avatar-ss " src="defaul/assets/img/t2.png" 　alt="Mr.Wang">Mr.Wang
                        </a>

                        <div class="price pull-right"><span>￥499.00</span></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--//推荐班级 -->

    <!--推荐课程 -->
    <div class="rec-course nobottom wall">
        <h2>推荐课程</h2>
        <ul class="course clearfix row">
            <li class="course-item col-md-12 col-xs-6">
                <div class="course-img">
                    <a href="#" title="课程还未更新，敬请期待">
                        <img src="defaul/img/ke1.jpg" alt="从零开始玩转热靴闪光灯，实战演练课程" class=""  />
                    </a>
                </div>
                <div class="course-info">
                    <div class="title text-o-show">
                        <a href="#" title="课程还未更新，敬请期待">从零开始玩转热靴闪光灯，实战演练课程</a>
                    </div>
                    <div class="teacher text-o-show">
                        <a class=" js-user-card" href="#" title="课程还未更新，敬请期待" data-card-url="/user/2572026/card/show" data-user-id="2572026">
                            <img class="avatar-ss " src="defaul/assets/img/t2.png" 　alt="Mr.Wang">Mr.Wang
                        </a>

                        <div class="price pull-right"><span>￥99.00</span></div>
                    </div>
                </div>
            </li>

            <li class="course-item col-md-12 col-xs-6">
                <div class="course-img">
                    <a href="#" title="课程还未更新，敬请期待">
                        <img src="defaul/img/k2.jpg" alt="YouCore系统思维应用：3大必备的职场表达术" class="" />
                    </a>
                </div>
                <div class="course-info">
                    <div class="title text-o-show">
                        <a href="#" title="课程还未更新，敬请期待">YouCore系统思维应用：3大必备的职场表达术</a>
                    </div>
                    <div class="teacher text-o-show">
                        <a class=" js-user-card" href="#" title="课程还未更新，敬请期待" data-card-url="/user/2479888/card/show" data-user-id="2479888">
                            <img class="avatar-ss " src="defaul/assets/img/t2.png" 　alt="Mr.Wang">Mr.Wang
                        </a>

                        <div class="price pull-right"><span>￥9.90</span></div>
                    </div>
                </div>
            </li>

            <li class="course-item col-md-12 col-xs-6">
                <div class="course-img">
                    <a href="#" title="课程还未更新，敬请期待">
                        <img src="defaul/img/k3.jpg" alt="想清楚你的职业发展问题" class=""  />
                    </a>
                </div>
                <div class="course-info">
                    <div class="title text-o-show">
                        <a href="#" title="课程还未更新，敬请期待">想清楚你的职业发展问题</a>
                    </div>
                    <div class="teacher text-o-show">
                        <a class=" js-user-card" href="#" title="课程还未更新，敬请期待" data-card-url="/user/1292713/card/show" data-user-id="1292713">
                            <img class="avatar-ss " src="defaul/assets/img/t2.png" 　alt="Mr.Wang">Mr.Wang
                        </a>
                        <span class="daren-icon-t" title="达人"></span>

                        <div class="price free pull-right"><span>免费</span></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--//推荐课程 -->

    <!--热门标签-->
    <div class="hot-tag wall">
        <h2> 热门标签  </h2>
        <ul class="text-center clearfix text-sm">
            <li>
                <a href="#" title="课程还未更新，敬请期待">摄影基础</a>
            </li>
            <li>
                <a href="#" title="课程还未更新，敬请期待">摄影历史</a>
            </li>
            <li>
                <a href="#" title="课程还未更新，敬请期待">摄影布光</a>
            </li>
            <li>
                <a href="#" title="课程还未更新，敬请期待">考试认证</a>
            </li>
            <li>
                <a href="#" title="课程还未更新，敬请期待">游泳</a>
            </li>
            <li>
                <a href="#" title="课程还未更新，敬请期待">滑雪</a>
            </li>
        </ul>
    </div>
    <!--//热门标签-->