<!-- 底部 -->
<footer class="footer-section">
    <div class="container">
        <div class="row footer-widget-wrap">
            <div class="col-md-4 footer-widget-col footer-left">
                <a href="#">
                    <img src="defaul/images/bodaOnlieEdu.jpg" alt="" itle="博达教育欢迎您"/>
                </a>
                <br /><br />
                <a>
                    <img src="defaul/img/foot-logo.png" alt="" />
                </a>
                <br /><br />
                <ul class="social-links">
                    <li>
                        <a href="#"><i class="icofont-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icofont-dribbble"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="icofont-skype"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-widget-col footer-bottom">
                <h4 class="widget-title">Who can help!</h4>
                <ul>
                    <li>
                        <a href="#">关于我们</a>
                    </li>
                    <li>
                        <a href="#">加入我们</a>
                    </li>
                    <li>
                        <a href="#">合作申请</a>
                    </li>
                    <li>
                        <a href="#">意见反馈</a>
                    </li>
                    <li>
                        <a href="#">用户协议</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 footer-widget-col footer-right">
                <h4 class="widget-title">Subscribe To Our Newsletter</h4>
                <p>
                    留下你的邮件以获取关于Study100的更多消息
                </p>
                <form class="input-group subscribe-wrap">
                    <input class="form-control" placeholder="Enter Your Email" type="text" required/>
                    <div class="input-group-append">
                        <button class="form-btn-style" type="submit">
                            <i class="icofont-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <p class="copyright-txt text-center">
            &copy; Copyright Study100 2019 | All right reserved
        </p>
    </div>
</footer>
<!--//底部-->
<!-- Scroll Top -->
<div class="scroll-top">
    <i class="icofont-rounded-up"></i>
</div>
<script src="defaul/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="defaul/assets/js/popper.min.js"></script>
<script src="defaul/assets/js/bootstrap.min.js"></script>
<script src="defaul/assets/js/owl.carousel.min.js"></script>
<script src="defaul/assets/js/featherlight.min.js"></script>
<script src="defaul/assets/js/main.js"></script>