<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"  />
	<title>博达教育-课程</title>

	<!--在线引用  -->
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<!--引用谷歌字体 -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap" rel="stylesheet"/>
	<!-- 引用css样式 -->
	<link rel="shortcut icon" type="image/x-icon" href="defaul/assets/img/favicon.png"  />
	<link rel="stylesheet" href="defaul/assets/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="defaul/assets/css/icofont.min.css" />
	<link rel="stylesheet" href="defaul/assets/css/owl.theme.default.min.css" />
	<link rel="stylesheet" href="defaul/assets/css/featherlight.min.css" />
	<link rel="stylesheet" href="defaul/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="defaul/assets/css/style.css" />


	<link rel="stylesheet" href="defaul/assets/css/bootstrap.css" />
	<link rel="stylesheet" href="defaul/assets/css/courses/course.css" />
	<link rel="stylesheet" href="defaul/assets/css/courses/element.min.css"/>

	<style type="text/css">

	</style>

</head>
<body  class="hzco-classify">
<!-- 预加载 -->
<div id="preloader">
	<div class="pre-container">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
</div>

<!-- 导航部分 -->
{{include 'defaul/public/coursesheader.html'}}
<!-- //导航 -->


<!--标签部分-->
<section class="header-section">
	<!--课程列表-->
	<div class="container" id="content-container">
		{{include 'defaul/public/classlist'}}

		<div class="category">
		</div>

		<div class="row co-classify-list">
			<div class="col-md-9">
				<div class="ad swiper-container swiper-container-horizontal swiper-container-fade">
					<div class="swiper-wrapper">
						<div class="swiper-slide ">
							<a > <img src="http://image.howzhi.com/system/block_picture_1460094695.jpg" alt="牛牛很忙人像摄影班，教你拍摄唯美人像" /></a>
						</div>


					</div>
					<span class="close" aria-hidden="true" data-dismiss="alert">×</span>
				</div>
				<div class="sort-nav">
					<dl class="clearfix">
						{{each catelist}}
						<dd>
							<a {{if pid==$value._id}}class="active"{{/if}} href="/language?pid={{@$value._id}}" class="act">&#160;&#160;&#160;&#160;&#160;{{$value.title}}</a>
						</dd>
						{{/each}}

						<dd class="price-order">
							<a >价格排序<i class="hz-icon icon-keyboardarrowdown"></i></a>
							<ul>
								<li>
									<a class="">价格从低到高</a>
								</li>
								<li>
									<a class="">价格从高到低</a>
								</li>
							</ul>
						</dd>
					</dl>
				</div>
				<div class="course list row">



					{{each articlelist}}
					<div class="col-md-4 col-xs-6">
						<div class="course-item ">
							<div class="course-img">
								<!--<a href="#">-->
								<a href="content/{{@$value._id}}">
									<img src="{{$value.img_url}}">
								</a>
								<!--<img src="defaul/img/course1.jpg" alt="Photoshop 基础知识" class="" />-->
								<!---->
							</div>
							<div class="course-info">
								<div class="title text-o-show">
									<a href="courses_info.html">{{$value.title}}</a>
								</div>
								<div class="metas">
									<span>作者:{{$value.author}}</span>/
									<span>类型:{{$value.catename}}</span>/
									<span>关键字:{{$value.keywords}}</span>
								</div>
								<div class="teacher text-o-show">
									<a class=" js-user-card" href="" data-card-url="" data-user-id="">
										<img class="avatar-ss " src="defaul/assets/img/t1.png" > 讲师:{{$value.author}}
									</a>
									<span class="daren-icon-t" title="达人"></span>

									<div class="price free pull-right"><span>热度:{{$value.is_hot}}</span></div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}



					<!--<ul class="pagination ">-->
						<!---->
					<!--</ul>-->
				</div>
				<div id="page" class="pagination" style="margin-top: -70px"></div>
			</div>


			{{include 'defaul/public/baside.html'}}

			</div>
		</div>
	</div>
	<!--课程列表-->
</section>
<!--标签部分-->


<!-- 底部 -->
{{include 'defaul/public/coursesfooter.html'}}
<!--//底部-->
<!-- Scroll Top -->
<div class="scroll-top">
	<i class="icofont-rounded-up"></i>
</div>
<script src="defaul/assets/js/jquery-3.3.1.slim.min.js"></script>
<script src="defaul/assets/js/popper.min.js"></script>
<script src="defaul/assets/js/bootstrap.min.js"></script>
<script src="defaul/assets/js/owl.carousel.min.js"></script>
<script src="defaul/assets/js/featherlight.min.js"></script>
<script src="defaul/assets/js/main.js"></script>
<script src="/defaul/js/jquery-1.10.2.min.js"></script>
<script src="/defaul/js/jqPaginator.js"></script>


</body>
</html>
<script>

    $('#page').jqPaginator({
        totalPages: {{totalPages}},
    visiblePages: 5,
        currentPage: {{page}},
    onPageChange: function (num, type) {

        if(type=='change'){
            {{if pid}}
            location.href="/language?pid={{pid}}&page="+num;

            {{else}}
            location.href="/language?page="+num;
            {{/if}}
        }
    }
    });
</script>