<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->


<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='{{_HOST_}}/admin/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='{{_HOST_}}/admin/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='{{_HOST_}}/admin/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="{{_HOST_}}/admin/assets/js/bootstrap.min.js"></script>


<!-- ace scripts -->

<script src="{{_HOST_}}/admin/assets/js/ace-elements.min.js"></script>
<script src="{{_HOST_}}/admin/assets/js/ace.min.js"></script>
<link rel="stylesheet" href="{{_HOST_}}/admin/assets/css/basic.css">
<script src="{{__HOST__}}/admin/basic.js"></script>
