<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png"  />
    <title>Study100 -首页</title>
    
    <!--在线引用  -->
 <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
 <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
 <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--引用谷歌字体 -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap" rel="stylesheet"/>
    <!-- 引用css样式 -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/css/icofont.min.css" />
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/css/featherlight.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    
 <style type="text/css">

 </style>
 
 

  </head>
  <body>
    <!-- 预加载 -->
    <div id="preloader">
      <div class="pre-container">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
    </div>
    <!-- 导航部分 -->
    <header class="nav-section" id="nav-section">
      <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-2 col-6">
            <a href="index.html" class="logo">
              <img src="assets/img/logo.png" alt="logo" />
            </a>
          </div>
          <div class="col-md-10 col-6 main-menu">
            <ul>
              <li><a href="study.html">学习中心</a></li>
              <li><a href="courses.html">课程</a></li>
              <li><a href="classroom.html">班级</a></li>
              <li><a href="groups.html">小组</a></li>
              <li><a href="search.html">搜索</a></li>
              <li><a href="login.html" class="menu-btn">Get Started !</a></li>
            </ul>

            <div class="mobile-menu-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
                <path
                  style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal"
                  d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div> 5
    </header>
    <nav class="mobile-menu-wrap">
      <div class="close-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  width="24px"height="24px">
          <path
            d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
          />
        </svg>
      </div>
      <div id="mobile-menu"></div>
    </nav>
    <!-- //导航 -->

    <!-- 标题部分  -->
    <section class="header-section">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 header-left order-lg-1 order-md-2 order-2">
            <h1>
              Study<span>100</span> <br />
              Education Web.
            </h1>
            <p>
              	Study100是一个综合性在线学习平台。这里有大量的在线课程，课程涵盖计算机知识，企业管理，摄影，photoshop，职业技能，运动、外语、美食，时尚，手工艺，公开课，职业资格考试等。
            </p>
            <a class="btn-style" href="login.html">快来 学习吧</a>
          </div>
          <div class="col-lg-6 header-right order-lg-2 order-md-1 order-1">
            <img
              class="img-fluid"
              src="assets/img/header-right-img.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- //标题  -->
    
    <!--轮播大图-->
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 	
	 <!-- Indicators 
	 <ol class="carousel-indicators">
		 <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		 <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		 <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		 <li data-target="#carousel-example-generic" data-slide-to="3"></li>
	 </ol>
	 -->
	 
	 <!-- Wrapper for slides -->
	 <div class="carousel-inner" role="listbox">
		 <div class="item active">
		 	<img src="img/lunbo1.jpg" height="266" width="800" alt="" id="huadong">
		 	<div class="carousel-caption">
			 </div>
		 </div>
		 
		 <div class="item">
			 <img src="img/lunbo2.jpg" height="266" width="800" alt="" id="huadong">
			 <div class="carousel-caption">
			 </div>
		 </div>
		
		 <div class="item">
			 <img src="img/lunbo3.jpg" height="266" width="800" alt="" id="huadong">
			 <div class="carousel-caption">
			 </div>
		 </div>
		 
		 <div class="item">
			 <img src="img/lunbo4.jpg" height="266" width="800" alt="" id="huadong">
			 <div class="carousel-caption">
			 </div>
		 </div>
	 
	 </div>
	 
	 <!-- Controls -->
	 <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		 <span class="sr-only">Previous</span>
	 </a>
	 <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		 <span class="sr-only">Next</span>
	 </a>
</div>
<!--//轮播大图-->    
    
    <!-- 热门课程  -->
    <section class="service-section section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 col-md-10 section-title-wrap">
            <p class="title">Hot Courses</p>
            <h1>
              	精选	大量的在线课程<br />
              	全网热门课程
            </h1>
            <p>
              	Select a large number of online courses.<br />
              	Hot Courses on the Internet.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="service-carousel owl-carousel owl-theme">
          	
          	
          	
            <div class="single-service">
              <div class="icon-wrap">
								<img src="img/course1.jpg" />
              </div>
              <div class="service-details">
                <h4>课程名1</h4>
                <p>
                 		 实用Excel—跟木头老师一起玩转Excel.
                </p>
                <a href="courses_info.html">Details Here</a>
              </div>
            </div>
            
            
            
            <div class="single-service">
              <div class="icon-wrap">
               <img src="img/course1.jpg" />
              </div>
              <div class="service-details">
                <h4>课程名2</h4>
                <p>
                 		实用Excel—跟木头老师一起玩转Excel.
                </p>
                <a href="courses_info.html">Details Here</a>
              </div>
            </div>
            <div class="single-service">
              <div class="icon-wrap">
                <img src="img/course1.jpg" />
              </div>
              <div class="service-details">
                <h4>课程名3</h4>
                <p>
                  		实用Excel—跟木头老师一起玩转Excel.
                </p>
                <a href="courses_info.html">Details Here</a>
              </div>
            </div>
            <div class="single-service">
              <div class="icon-wrap">
                <img src="img/course1.jpg" />
              </div>
              <div class="service-details">
                <h4>课程名4</h4>
                <p>
            		      实用Excel—跟木头老师一起玩转Excel.
                </p>
                <a href="courses_info.html">Details Here</a>
              </div>
            </div>
            <div class="single-service">
              <div class="icon-wrap">
              	<img src="img/course1.jpg" />
              </div>
              <div class="service-details">
                <h4>课程名5</h4>
                <p>
                		 实用Excel—跟木头老师一起玩转Excel.
                </p>
                <a href="courses_info.html">Details Here</a>
              </div>
            </div>
            <div class="single-service">
              <div class="icon-wrap">
                <img src="img/course1.jpg" />
              </div>
              <div class="service-details">
                <h4>课程名6</h4>
                <p>
                		 实用Excel—跟木头老师一起玩转Excel.
                </p>
                <a href="courses_info.html">Details Here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //热门课程 -->
    
    
    <!-- 热门标签 -->
    <section class="testimonial-section section-gap">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 testimonial-left">
            <p class="title">Hot Tags</p>
            <h4>&nbsp;&nbsp;&nbsp;热门 <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标签</h4>
            <p>
               <br />
            </p>
            <div class="t-img">
              <ul>
                <li class="t1 active" data="0">
                  <img src="img/hot tags/PS.png" alt="" />
                </li>
                <li class="t2" data="1">
                  <img src="img/hot tags/AI.png" alt="" />
                </li>
                <li class="t3" data="2">
                  <img src="img/hot tags/AE.png" alt="" />
                </li>
                <li class="t4" data="3">
                  <img src="img/hot tags/PR.png" alt="" />
                </li>
              </ul>
              
              <!--
              <ul>
                <li class="tags" data="0">
                  	入门
                </li>
                <li class="tags" data="1">
                		基础
                </li>
                <li class="tags" data="2">
                 		进阶
                </li>
                <li class="tags" data="3">
                 		实战
                </li>
              </ul>
              -->
            </div>
          </div>
          <div class="col-lg-6 testimonial-right">
            <div class="owl-carousel owlExample">
              <div class="item single-testimonial" id="t1">
                <p>
									Adobe Photoshop，简称“PS”，是由Adobe开发和发行的图像处理软件。
									PS以强大的图片处理著称，堪称Adobe系列中受众最广的软件，
									不论平面设计、网页、UI、摄影、精修等，只要涉及图片处理，便离不开PS；
									因此也成为初学者学习设计的起点。
                </p>
                <div class="details">
                  <h5>PS零基础入门教程</h5>
                </div>
              </div>
              
              <div class="item single-testimonial" id="t2">
                <p>
									Adobe illustrator，简称“AI”，是由Adobe开发和发行的矢量图设计软件。
									强大的矢量图功能深入各个设计领域，
									不论是插画设计、包装设计、UI设计、字体设计、品牌设计等，
									都能看到AI的身影，AI也成为所有初学者学习设计不可或缺的软件。
                </p>
                <div class="details">
                  <h5>AI软件基础学习教程</h5>
                </div>
              </div>
              
              <div class="item single-testimonial" id="t3">
                <p>
									After Effects，简称“AE”，是由Adobe开发和发行的视频特效处理软件。
									AE可以帮助您高效精确地创建无数种引人注目的动态图形和震撼人心的视觉效果。
									适用从事视频特技的机构，包括电视台、动画制作公司以及多媒体工作室。
									属于层类型后期软件。
                </p>
                <div class="details">
                  <h5>AE零基础软件入门</h5>
                </div>
              </div>
              
              <div class="item single-testimonial" id="t4">
                <p>
									Adobe Premiere，简称“PR”，是由Adobe开发和发行的视频剪辑处理软件。
									PR是一款编辑画面质量比较好的软件，用于创建增强图片，
									校色调色，编辑视频，设计网页计网页。
									目前这款软件广泛应用于广告制作和电视节目制作中。
                </p>
                <div class="details">
                  <h5>PR零基础软件入门</h5>
                </div>
              </div>
              
              <!-- //增加
               <div class="item single-testimonial" id="t5">
                <p>
									3D Studio Max，简称3D Max，
									是Discreet公司开发的三维动画渲染和制作软件。
									作为一套资深的CG软件，3D Max在影视后期、CG广告、环境艺术、汽车展示、
									工业效果、城市规划、游戏制作、VR游戏、影视动画等方面有广泛应用。
                </p>
                <div class="details">
                  <h5>3dsMax软件零基础入门</h5>
                </div>
              </div>
              -->
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //热门标签 -->
    

    
    <!-- 精品课程  -->
    <section class="portfolio-section section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-10 col-md-10 section-title-wrap">
            <p class="title">Excellent Courses</p>
            <h1>精品课程</h1>
            <p>
              List of all courses
            </p>
          </div>
     
        </div>
            <div class="hot-course-Navigation">
        
        	<ul class="nav nav-pills">
					  <li role="presentation" class="active"><a href="#">精品推荐</a></li>
					  <li role="presentation"><a href="#">特价好课</a></li>
					  <li role="presentation"><a href="#">摄影课堂</a></li>
					  <li role="presentation"><a href="#">创意设计</a></li>
					  <li role="presentation"><a href="#">兴趣爱好</a></li>
					  <li role="presentation"><a href="#">声乐器乐</a></li>
					  <li role="presentation"><a href="#">运动健身</a></li>
					  <li role="presentation"><a href="#">IT互联网</a></li>
					</ul>
        </div> 
        <div class="row">
          <div class="col-md-4">
            <div class="single-portfolio">
              <img class="img-fluid" src="img/course1.jpg" alt=""  />
              <div class="portfolio-details">
                <a href="courses_info.html"><h4>实用Excel—跟木头老师一起玩转Excel</h4></a>
                <h5>Price:￥88</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-portfolio">
              <img class="img-fluid" src="img/course1.jpg" alt="" />
              <div class="portfolio-details">
                <a href="courses_info.html"><h4>实用Excel—跟木头老师一起玩转Excel</h4></a>
                <h5>Price:￥88</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-portfolio">
              <img class="img-fluid" src="img/course1.jpg" alt="" />
              <div class="portfolio-details">
                <a href="courses_info.html"><h4>实用Excel—跟木头老师一起玩转Excel</h4></a>
                <h5>Price:￥88</h5>
              </div>
            </div>
          </div>
        </div>
        
        
     <!-- 课程轮播图  -->
    <section class="brand-logo-section">
      <div class="container">
        <div class="row">
          <div class="brand-logo-carousel owl-carousel owl-theme">
          	<!-- 图片大小  120*120 *5-->
            <div class="single-brand-logo">
              <a href="courses_info.html"><img class="mx-auto" src="img/course1.jpg" alt=""/></a>
            </div>
            <div class="single-brand-logo">
              <a href="courses_info.html"><img class="mx-auto" src="img/course2.jpg" alt=""/></a>
            </div>
            <div class="single-brand-logo">
              <a href="courses_info.html"><img class="mx-auto" src="img/course3.jpg" alt=""/></a>
            </div>
            <div class="single-brand-logo">
              <a href="courses_info.html"><img class="mx-auto" src="img/course4.jpg" alt=""/></a>
            </div>
            <div class="single-brand-logo">
              <a href="courses_info.html"><img class="mx-auto" src="img/course5.jpg" alt=""/></a>
            </div>
            <!--    可以增加更多轮播图
            	
            <div class="single-brand-logo">
              <a href="#"><img class="mx-auto" src="assets/img/brand-logo5.png" alt=""/></a>
            </div>
            <div class="single-brand-logo">
              <a href="#"><img class="mx-auto" src="assets/img/brand-logo5.png" alt=""/></a>
            </div>
            
            -->
          </div>
        </div>
      </div>
    </section>
    <!-- //课程轮播图  -->
        
        
        
        <div class="row">
          <div class="col-md-4">
            <div class="single-portfolio">
              <img class="img-fluid" src="img/course1.jpg" alt="" />
              <div class="portfolio-details">
                <a href="courses_info.html"><h4>实用Excel—跟木头老师一起玩转Excel</h4></a>
                <h5>Price:￥88</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-portfolio">
              <img class="img-fluid" src="img/course1.jpg" alt="" />
              <div class="portfolio-details">
                <a href="courses_info.html"><h4>实用Excel—跟木头老师一起玩转Excel</h4></a>
                <h5>Price:￥88</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-portfolio">
              <img class="img-fluid" src="img/course1.jpg" alt="" />
              <div class="portfolio-details">
                <a href="courses_info.html"><h4>实用Excel—跟木头老师一起玩转Excel</h4></a>
       
                <h5>Price:￥88</h5>
              </div>
            </div>
          </div>
          <a class="mx-auto btn-style" href="courses.html">See More</a>
        </div>
      </div>
    </section>
    
    
    <!-- //精品课程  -->
    
    
    <!-- Start price section -->
    <section class="price-section section-gap">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6 price-left">
            <p class="title">Classroom</p>
            <h4>班级推荐 </h4>
            <p>
              Study100班级开启在线学习新模式<br />
            </p>
            <p class="title">体系化学习</p>
              	打包系统课程<br />
              	告别东拼西凑的零散式学习<br />
            <p class="title">场景式教学</p>
              	及时答疑、阶段测验、作业点评<br />
								老师伴你成长每一步<br />
            <p class="title">社区型互动</p>
					           交流讨论、学分ＰＫ、线下活动<br />
								学习路上不在孤单彷徨<br />
            </p>
            <a href="classroom.html" class="btn-style">More Classrooms</a>
          </div>
          <div class="col-lg-6 price-right">
            <div class="row price-wrap">
            	
              <div class="col-md-6">
                <div class="single-plan buiness-plan">
                  <div class="title">
                    <h4>摄影新手训练营</h4>
                    <i class="icofont-plus"></i>
                  </div>
                  <h2>￥88<span>/mo</span></h2>
                  <ul>
                    <li>如果你</li>
                    <li>买了相机却不知道如何操作；</li>
                    <li>给亲人朋友拍照却总被吐槽拍的难看； </li>
                    <li>出去旅行拍了一堆照片却发现没有几张满意； </li>
                    <li>看到令人震撼的美景拍出来的却总是平淡无奇;</li>
                    <li> <br /> </li>
 										<li>那么快加入我们的摄影新手训练营吧</li>
                  </ul>
                  <p><span>Note: </span>史上最有趣的摄影学习班</p>
                  <span class="plan-border"></span>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="single-plan">
                  <div class="title">
                    <h4>Adobe Lightroom cc后期基础入门班</h4>
                    <i class="icofont-plus"></i>
                  </div>
                  <h2>￥88<span>/mo</span></h2>
                  <ul>
                    <li>如果你</li>
                    <li>对于图片后期的处理仅限于<br /> </li>
                    <li>“调整曝光、颜色、<br /> 或者调整畸、<br /> 变局部颜色的调整”</li>
                    <li><br /> 那就推荐你用LIGHTROOM！</li>
                    <li>绝对比PS快捷便利上档次，用过的都说好！</li>
                  </ul>
                  <p><span>Note: </span>每天10min 轻松入门</p>
                  <span class="plan-border"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End price section -->
    <!-- Start news section -->
    <section class="news-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="single-news">
              <div class="news-thumb">
                <img class="img-fluid" src="assets/img/n1.jpg" alt="" />
              </div>
              <div class="news-details">
                <p class="meta">电商运营</p>
                <h4>
                  <a href="#">数据化运营经典思路</a>
                </h4>
                <p>
                  	思路、方法、技巧与应用是目前有关数据挖掘在数据化运营实践领域比较全面和系统的著作，
                  	也是诸多数据挖掘书籍中为数不多的穿插大量真实的实践应用案例和场景的著作，
                  	更是创造性地针对数据化运营中不同分析挖掘课题类型。
                </p>
                <a class="read-more" href="#">Know More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-news">
              <div class="news-thumb">
                <img class="img-fluid" src="assets/img/n2.jpg" alt="" />
              </div>
              <div class="news-details">
                <p class="meta">职业规划</p>
                <h4>
                  <a href="#">美工的学习规划</a >
                </h4>
                <p>
                                              不断提升自己的作图能力<br />
						                形成自己的设计思维，提高设计能力<br />
									提高自己的作图效率<br />
									接着学会产品的精修和手绘等<br />
                </p>
                <a class="read-more" href="#">Know More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-news">
              <div class="news-thumb">
                <img class="img-fluid" src="assets/img/n3.jpg" alt="" />
              </div>
              <div class="news-details">
                <p class="meta">绘画插画</p>
                <h4>
                  <a href="#">零基础学手绘</a>
                </h4>
                <p>
                 	 手绘与我们的现代生活密不可分，建筑、服装、插画、动漫……手绘的形式分门别类，各具专业性，
                 	 对建筑师、研究学者、设计人员等设计绘图相关职业的人来说，手绘设计的学习是一个贯穿职业生涯的过程。
                 	 
                </p>
                <a class="read-more" href="#">Know More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End news section -->
    
    
    <!-- 底部 -->
    <footer class="footer-section">
      <div class="container">
        <div class="row footer-widget-wrap">
          <div class="col-md-4 footer-widget-col footer-left">
            <a href="#">
              <img src="assets/img/logo.png" alt="" />
            </a>
						<br /><br />
            <a >
              <img src="img/foot-logo.png" alt="" />
            </a>
            <br /><br />
            <ul class="social-links">
              <li>
                <a href="#"><i class="icofont-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-dribbble"></i></a>
              </li>
              <li>
                <a href="#"><i class="icofont-skype"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 footer-widget-col footer-bottom">
            <h4 class="widget-title">Who can help!</h4>
            <ul>
              <li><a href="#">关于我们</a></li>
              <li><a href="#">加入我们</a></li>
              <li><a href="#">合作申请</a></li>
              <li><a href="#">意见反馈</a></li>
              <li><a href="#">用户协议</a></li>
            </ul>
          </div>
          <div class="col-md-4 footer-widget-col footer-right">
            <h4 class="widget-title">Subscribe To Our Newsletter</h4>
            <p>
              	留下你的邮件以获取关于Study100的更多消息
            </p>
            <form class="input-group subscribe-wrap">
              <input class="form-control"  placeholder="Enter Your Email"    type="text"   required/>
              <div class="input-group-append">
                <button class="form-btn-style" type="submit">
                  <i class="icofont-paper-plane"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <p class="copyright-txt text-center">
          &copy; Copyright Study100 2019 | All right reserved
        </p>
      </div>
    </footer>
    <!--//底部-->
    <!-- Scroll Top -->
    <div class="scroll-top">
      <i class="icofont-rounded-up"></i>
    </div>
    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/featherlight.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
